<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
        <link rel="stylesheet" type="text/css" href="../styles/employee-signup.css">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <script src="../javascript/employee-signup.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/d7c9d962f7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <i id="menu" class="fa-sharp fa-solid fa-bars"></i>
        <aside>
            <img src="../assets/img.png/track-logo.png" alt="trackgenix">
            <div class="flex-container">
                <nav>
                    <a id="home" href="index.html">
                        <i class="fa-sharp fa-solid fa-house"></i>
                        <p>Home</p>
                    </a>
                    <a class="sign-up" href="employee-signup.html">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <p>Sign Up</p>
                    </a>
                    <a class="login" href="login.html">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <p>Login</p>
                        </a>
                </nav>
                <p>Contact Us</p>
                <div class="contact-us-email">
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    <p>trackgenix@gmail.com</p>
                </div>
                <div class="contact-us-phone">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <p>(000) 000-0000</p>
                </div>
                    <div class="contact-us-address">
                        <i class="fa-sharp fa-solid fa-city"></i>
                        <p>1234 Somewhere Road #8254 Nashville,TN 00000-0000</p>
                    </div>
            </div>
        </aside>
        <div class="flex-container">
            <header>
                <h1>Trackgenix</h1>
            </header>
            <main >
                <form id="form-signup">
                    <fieldset>
                        <label>Name</label>
                        <input id="name" type="text" name="name" placeholder="Insert your name">
                    </fieldset>
                    <fieldset>
                        <label>Last Name</label>
                        <input id="last-name" type="text" name="last-name" placeholder="Insert your last name">
                    </fieldset>
                    <fieldset>
                        <label>ID</label>
                        <input id="id" type="text" name="id" placeholder="Insert your ID">
                    </fieldset>
                    <fieldset>
                        <label>Date of Birth</label>
                        <input id="date" type="date" name="date" placeholder="Insert your date of birth">
                    </fieldset>
                    <fieldset>
                        <label>Telephone</label>
                        <input id="telephone" type="text" name="telephone" placeholder="Insert your telephone">
                    </fieldset>
                    <fieldset>
                        <label>Address</label>
                        <input id="address" type="text" name="address" placeholder="Insert your addres">
                    </fieldset>
                    <fieldset>
                        <label>Location</label>
                        <input id="location" type="text" name="location" placeholder="Insert yourlocation">
                    </fieldset>
                    <fieldset>
                        <label>Zip Code</label>
                        <input id="zip" type="text" name="zip" placeholder="ZIP code">
                    </fieldset>
                    <fieldset>
                        <label>Email</label>
                        <input id="email" type="text" name="email" placeholder="Insert your email">
                    </fieldset>
                    <fieldset>
                        <label>Password</label>
                        <input id="pw1" type="text" name="password" placeholder="Insert your password">
                    </fieldset>
                    <fieldset>
                        <label>Repeat Password</label>
                        <input id="pw2" type="text" name="password" placeholder="Repeat your password">
                    </fieldset>
                </form>
                <input id="btn-create" type="submit" name="submit" value="Create">
            </main>
            <footer>
                    <div id="footer-social-incos" >
                        <div class="footer-linked">
                            <a href="https://ar.linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="footer-facebook">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                        <div class="footer-twitter">
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div class="footer-instagram">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="footer-github">
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </div>
                    <div id="footer-copyright">
                        <p>Rosario, Argentina</p>
                        <p>Copyright &copy; 2022 Radium Rocket. All right reserved</p>
                    </div>
            </footer>
        </div>
    </body>
</html>