<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/main.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
        <link rel="stylesheet" type="text/css" href="../styles/login.css">
        <script src="../javascript/login.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <script src="https://kit.fontawesome.com/d7c9d962f7.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <i id="menu" class="fa-sharp fa-solid fa-bars"></i>
        <aside>
            <img src="../assets/img.png/track-logo.png" alt="trackgenix">
            <div class="flex-container">
                <nav>
                    <a class="home">
                        <i class="fa-sharp fa-solid fa-house"></i>
                        <p>Home</p>
                    </a>
                    <a class="sign-up">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <p>Sign Up</p>
                    </a>
                    <a class="login">
                        <i class="fa-sharp fa-solid fa-user"></i>
                        <p>Login</p>
                        </a>
                </nav>
                <p>Contact Us</p>
                <div class="contact-us-email">
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    <p>trackgenix@gmail.com</p>
                </div>
                <div class="contact-us-phone">
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <p>(000) 000-0000</p>
                </div>
                    <div class="contact-us-address">
                        <i class="fa-sharp fa-solid fa-city"></i>
                        <p>1234 Somewhere Road #8254 Nashville,TN 00000-0000</p>
                    </div>
            </div>
        </aside>
            <header>
                <h1>Trackgenix</h1>

            </header>
            <main id="login">
                <div class="container">
                    <h2>Welcome!</h2>
                    <p>
                        Please enter your details.
                    </p>
                </div>
                <fieldset class="label-input">
                    <label>Email</label>
                    <input id="input-email" type="text" name="email" placeholder="E-mail">
                </fieldset>
                <fieldset class="label-input">
                    <label >Password</label>
                    <input id="password" type="password" name="password" placeholder="Password">
                </fieldset>
                <div id="pass-forgot">
                    <h3 id="show-password">Show Password</h3>
                    <h3>Forgort Yout Password?</h3>
                </div>
                <input id="button-login" type="submit" name="Submit" value="Login">
            </main>
            <footer>
                    <div id="footer-social-incos" >
                        <div class="footer-linked">
                            <a href="https://ar.linkedin.com/" target="_blank">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </div>
                        <div class="footer-facebook">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                        </div>
                        <div class="footer-twitter">
                            <a href="https://twitter.com/" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </div>
                        <div class="footer-instagram">
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </div>
                        <div class="footer-github">
                            <a href="https://github.com/" target="_blank">
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </div>
                    <div id="footer-copyright">
                        <p>Rosario, Argentina</p>
                        <p>Copyright &copy; 2022 Radium Rocket. All right reserved</p>
                    </div>
            </footer>
    </body>
</html>