
main{
    margin-left: 10%;
}
.main-text-container{
    display: flex;
    flex-wrap: wrap;
}
.main-text-container h2{
    margin-bottom: 20px;
    border-bottom: 10px rgba(217, 217, 217, 1) solid;
    text-align: center;
    font-size:40px;
    color:rgba(0, 0, 0, 1);
}
.main-text-container p{
    line-height: 30px;
    text-align: center;
    font-size:18px;
}
.main-text-container p:last-child{
    margin-bottom: 100px;
    color: rgba(73, 163, 123, 1);
}
.left-paragraph {
    width: 500px;
    color: rgba(0, 0, 0, 1);
}
.left-paragraph h3{
    width: 1000px;
    margin-top: 200px ;
    border-bottom: 4px rgba(40, 98, 118, 1) solid;
    font-size:  40px;
    text-align: left;
}
.left-paragraph p{
    width: 550px;
    margin-left: 100px;
    font:normal 30px;
    text-align: left;
}
.left-paragraph img{
    margin-left: 800px;
    margin-top: -400px ;
}
.right-paragraph {
    width: 100%;
    height:900px;
    margin-top: 150px ;
    background-color: rgba(217, 217, 217, 1);
}
.right-paragraph h3{
    width: 800px;
    margin-left: 560px;
    margin-right: 600px;
    padding-top: 300px ;
    border-bottom: 4px rgba(255, 255, 255, 1) solid;
    font:bold 40px ;
    text-align: center;
}
.right-paragraph p{
    width:550px;
    margin-left: 800px;
    font:bold 30px ;
    text-align: left;
}
.right-paragraph img{
    margin-top: -350px;
    margin-left: 100px;
}
#functionalities-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start ;

}
#functionalities-area h2{
    width: 80%;
    border-bottom: 10px rgba(217, 217, 217, 1) solid;
    color:rgba(0, 0, 0, 1);
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    font-size: 40px ;
}
#functionalities-area h3{
    font-size: 30px ;
}
#functionalities-area p{
    font-size: 20px ;
    order:3;
    text-align: left;
    align-items:flex-end;
}
#functionalities-area svg{
    order: 1;
    justify-content: flex-start;
    transform: scale(2);
 }
.hourslog-text {
    flex-basis: 40%;
    display: flex;
    margin-bottom:30px ;
}
.hourslog-text h3{
    align-items:flex-start;
    order: 2;
    text-align: center;
}
.resourcemanag-text{
    flex-basis: 40%;
    margin-bottom:30px ;
    display: flex;
}
.resourcemanag-text h3{
    order: 2;
}
.reports-text{
    flex-basis: 40%;
    margin-bottom:30px ;
    display: flex;
}
.reports-text h3{
    order:2;
}
.multiplerole-text{
    flex-basis: 40%;
    margin-bottom:30px ;
    display: flex;
}
.multiplerole-text h3{
    order:2;
}
#contact-area {
    font-size: 14px;
}
#contact-area h2{
    width: 1176px;
    border-bottom: 10px rgba(217, 217, 217, 1) solid;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
    color:rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 40px;
}
.contact-area-name{
    width: 50px;
}
.contact-area-name label{
    margin-top: -10px;
    margin-left: 100px;
    color: rgba(55, 56, 103, 1);
}
.contact-area-name input{
    width:446px;
    height:37px;
    margin-left: 100px;
    margin-top: 10px;
}
.contact-area-ca{
    width: 150px;
    height: 16px;
    margin-top: -40px;
    color: rgba(55, 56, 103, 1);
}
.contact-area-ca select{
    width:446px;
    height:37px;
    margin-left: 800px;
    color: rgba(55, 56, 103, 1);
}
.contact-area-email{
    margin-top: 50px;
    margin-left: 100px;
    width:50px;
    color: rgba(55, 56, 103, 1);
}
.contact-area-email input{
    width:446px;
    height:37px;
    margin-top: 10px;
}
.contact-area-message{
    margin-left: 100px;
    width:50px;
    margin-top: 44px;
    color: rgba(55, 56, 103, 1);
}
.contact-area-message textarea {
    width:1029px;
    height:179.57px;
}
.button-submit {
    width:177px;
    height:48px;
    margin-left: 100px;
    background-color: #AACE9B;
}
.button-submit:hover {
    background-color:	rgb(0, 255, 0);

}
.button-reset {
    width:117px;
    height:48px;
    margin-left: 740px;
    background-color: rgba(241, 51, 18, 1);
}
.button-reset:hover{
    background-color: rgb(255, 112, 40);
}
#categories-area {
    width: 100%;
    margin-top: 10px;
    background-image: url(../assets/img.png/list-picture.png);
    background-position:center left;
    background-repeat: no-repeat;
    font:normal 20px ;
    color:rgba(55, 56, 103, 1);
}
#categories-area h4{
    margin-left: 25px;
}
#categories-area ol{
    font:normal 10px
}
.categories-area-product {
    width:180px;
    height:110px;
    padding-top: 200px;
    margin-left: 474px;
}
.categories-area-enterprise {
    width:180px;
    height:110px;
    margin-top: -110px;
    margin-left: 650px;
    padding-top: -20px;
}
.categories-area-support{
    width:180px;
    height:110px;
    margin-left: 850px;
    margin-top: -110px;
    padding-top: -20px;
    padding-bottom: 100px;
}
