
aside{
    position:fixed;
    width: 10%;
    height: 900px;
    background-color: #FFFFFF;
    color: rgba(241, 51, 18, 1);
    float:left;
}
aside img{
    width: 100%;
    margin-bottom: 30px;
}
.home img{
    margin: 0 0 0 0;
}
.home h4{
    margin-top: -55px;
    margin-left: 30px;
}
.sign-up img{
    margin-top:40px;
}
.sign-up h4{
    margin-top: -55px;
    margin-left: 30px;
}
.login img{
    margin-top:40px;
}
.login h4{
    margin-top: -55px;
    margin-left: 30px;
    margin-bottom: 170px;
}
.contact-us-email h4{
    width: 80px;
    border-bottom:2px solid ;
    font-size: 15px;
}
.contact-us-email img{
    margin-top: 10px;
}
.contact-us-email h5{
    margin-top: -55px;
    margin-left: 30px;
    font-size: 10px;
}
.contact-us-phone img{
    margin-top: 30px;
}
.contact-us-phone h5{
    margin-top: -50px;
    margin-left:20px;
    font-size: 10px;
}
.contact-us-address img{
    margin-top: 30px;
}
.contact-us-address h5{
    width: 100px;
    margin-top: -50px;
    margin-left:30px;
    font-size: 10px;
}
