
aside{
    display: none;
    position:fixed;
    width: 10%;
    height: 900px;
    background-color: #FFFFFF;
    color: rgba(241, 51, 18, 1);
    font-size: 12px;
}
aside p{
    padding-left: 10px;;
}
aside .home{
    display: flex;
    padding: 20px 10px;
}
aside .home:hover{
    color:#373867;
}
aside .sign-up{
    display: flex;
    padding: 20px 10px;
}
aside .sign-up:hover{
    color:#373867;
}
aside .login{
    display: flex;
    padding: 20px 10px;
}
aside .login:hover{
    color:#373867;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 170px;
}
aside .contact-us-email{
    display: flex;
    font-size: 8px;
    padding: 10px 10px;
}
aside .contact-us-phone{
    display: flex;
    padding: 10px 10px;;
    font-size: 8px;
}

aside .contact-us-address{
    display: flex;
    padding: 10px 10px;;
    font-size: 8px;
}
@media (min-width:1024px) {
    aside{
        display: flex;
        flex-direction: column;
        position:fixed;
        width: 10%;
        height: 900px;
        background-color: #FFFFFF;
        color: rgba(241, 51, 18, 1);
    }
    .flex-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* padding: 10px 20px; */
        margin-left: 0px;
    }
}