
aside{
    display: none;
    position:fixed;
    width: 10%;
    height: 900px;
    background-color: #FFFFFF;
    color: rgba(241, 51, 18, 1);
    font-size: 12px;
}
aside .home{
    display: flex;
    margin-bottom: 10px;
}
aside .sign-up{
    display: flex;
    margin-bottom: 10px;
}
aside .login{
    display: flex;
    margin-bottom: 10px;
}
nav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
}
aside .contact-us-email{
    display: flex;
    font-size: 8px;
}
aside .contact-us-phone{
    display: flex;
    font-size: 8px;
}
aside .contact-us-address{
    display: flex;
    font-size: 8px;
}
@media (min-width:1024px) {
    aside{
        display: flex;
        flex-direction: column;
        position:fixed;
        width: 10%;
        height: 900px;
        background-color: #FFFFFF;
        color: rgba(241, 51, 18, 1);
    }
    aside .flex-container{
        margin-left: 0px;
        justify-content: space-between;
    }

}