*{
    margin:0px;
}
body, html{
    font-family: 'Roboto';
}
@media (max-width:768px){
    aside{
        display: none;
        flex-direction: row;
    }
    main, footer, header,{
        flex-basis: 100%;
        margin: 0%;
        padding:0%;
        align-items:start;
        flex-wrap: wrap;
    }
    header #text-container{
       margin-left:0%
    }
    main #contact-area{
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
    }
    main #functionalities-area{
        flex-direction: column;
    }
    main #functionalities-area svg{
        transform: scale(1.5);
    }
    }