*{
    margin:0px;

}
body, html{
    font-family: 'Roboto';
}
header{
    background-image: url(../assets/Trackgenix.png);
    background-position:center left;
    background-repeat: no-repeat;
    width: 1440px;
    height:900px;
}
.header-body {
    color: rgb(255,255,255);
    margin-left:150px ;
    height: 900px;
    background-color: rgba(00, 00, 00, 0.5);
    backdrop-filter: blur(2px);
    width: 500px;}
#text-container{
    padding-left: 15px;
    padding-top: 150px;
    padding-right: 100px;
}

#text-container h1{
    font:bold 40px Arial, Helvetica, sans-serif;
    margin-right: 2px;
    margin-left: 100px;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 3px rgb(170,206,155) solid; 
    width: 110%;
}  
#text-container h2{
    font:normal 20px Arial, Helvetica, sans-serif; 
    margin-right: 2px;
    margin-left: 100px;
    line-height: 30px;   
    margin-top: 20px;
}
#text-container p{ 
    color: rgba(255,255,255,0.75);
    font:normal 16px Arial, Helvetica, sans-serif;
    margin-top: 100px;
    margin-right: 2px;
    margin-left: 100px;
    line-height: 30px;
    
    }
.main-text-container h2{
    width: 1176px;
    text-align: center;
    font:bold 40px Arial, Helvetica, sans-serif;
    border-bottom: 10px rgba(217, 217, 217, 1) solid; 
    color:rgba(0, 0, 0, 1);
    margin-left: 100px;
    margin-bottom: 20px;
}
.main-text-container p{
    text-align: center;
    font:normal 18px Arial, Helvetica, sans-serif;
    width: 1200px;
    margin-left: 100px;
    margin-right:150px;
    padding-top: 35px;
    padding-bottom: 5px;
}
.green-paragraph {
    color: rgba(73, 163, 123, 1);
    margin-bottom: 100px;
}
.left-paragraph {
    color: rgba(0, 0, 0, 1);
    width: 500px;
}
.left-paragraph h3{
    font:bold 40px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 1000px;
    margin-top: 200px ;
    margin-left: 100px;
    border-bottom: 4px rgba(40, 98, 118, 1) solid;
}
.left-paragraph p{
    font:normal 30px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 550px;
    margin-left: 100px;
}
.left-paragraph img{
    margin-left: 800px;
    margin-top: -400px ;
}
.right-paragraph {
    background-color: rgba(217, 217, 217, 1);
    width: 1440px;
    height:900px;
    margin-top: 150px ;

}
.right-paragraph h3{
    font:bold 40px Arial, Helvetica, sans-serif;
    text-align: center;
    width: 800px;
    margin-left: 560px;
    margin-right: 600px;
    padding-top: 300px ;
    border-bottom: 4px rgba(255, 255, 255, 1) solid;
}
.right-paragraph p{
    font:bold 30px Arial, Helvetica, sans-serif;
    text-align: left;
    width:550px;
    margin-left: 800px;
}
.right-paragraph img{
    margin-top: -350px;
    margin-left: 100px;
}
#functionalities-area h2{
    width: 1176px;
    text-align: center;
    font:bold 40px Arial, Helvetica, sans-serif;
    border-bottom: 10px rgba(217, 217, 217, 1) solid; 
    color:rgba(0, 0, 0, 1);
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 20px;
}
#functionalities-area h3{
    font:bold 30px Arial, Helvetica, sans-serif;
}
#functionalities-area p{
    font:bold 20px Arial, Helvetica, sans-serif;
}
.hourslog-text {
    width: 400px;
    margin-left: 300px;
    margin-top: 100px;
    
}
.hourslog-text p{
    padding-top: 20px;
}
.hourslog-text img {
    width: 150px;
    margin-left: -170px;
    margin-top: -200px ;
    padding-top: 50px;
}
.resourcemanag-text{
    width: 400px;
    margin-top: -140px;
    margin-left: 1000px;
}
.resourcemanag-text p{
    padding-top: 20px;
}
.resourcemanag-text img{
    margin-top: -200px;
    margin-left: -170px ;
    padding-top: 50px;
}
.reports-text{
    width: 400px;
    margin-top: 20px;
    margin-left: 300px;
    padding-top: 100px;
}
.reports-text p{
    padding-top: 20px;
}
.reports-text img{
    width: 150px;
    margin-top: -150px;
    margin-left: -170px;

}
.multiplerole-text{
    width: 400px;   
    margin-top: -150px; 
    margin-left: 1000px;
}
.multiplerole-text p{
    padding-top: 20px;
}
.multiplerole-text img{
    margin-top: -200px;
    margin-left: -170px ;
    padding-top: 50px;

}
#contact-area {
    font:medium 14px Arial, Helvetica, sans-serif;
}
#contact-area h2{
    width: 1176px;
    text-align: center;
    font:bold 40px Arial, Helvetica, sans-serif;
    border-bottom: 10px rgba(217, 217, 217, 1) solid; 
    color:rgba(0, 0, 0, 1);
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.contact-area-name label{
    color: rgba(55, 56, 103, 1);
    margin-top: -10px;
}
.contact-area-name input{
    width: 450px;
    height: 37px;
}
.contact-area-ca{
    color: rgba(55, 56, 103, 1);
    width: 150px;
    height: 16px;
    margin-top: -40px;
}
.contact-area-ca select{
    color: rgba(55, 56, 103, 1);
    width: 450px;
    height: 37px;
   
    margin-left: 800px;
}
.contact-area-email{
    color: rgba(55, 56, 103, 1);
    margin-top: 50px;
    margin-left: 100px;
}
.contact-area-email input{
    width: 450px;
    height: 37px;
    margin-top: 50px;

}
.contact-area-message{
    color: rgba(55, 56, 103, 1);
    margin-left: 100px;
}
#categories-area {
    background-image: url(../assets/img.png/list-picture.png);
    background-position:center left;
    background-repeat: no-repeat;
    font:normal 20px Arial, Helvetica, sans-serif;
    color:rgba(55, 56, 103, 1);
    width: 1440px;
    margin-top: 10px;

}
#categories-area h4{
    margin-left: 25px;
}
#categories-area ol{
    font:normal 10px Arial, Helvetica, sans-serif;
}
.categories-area-product {
    Width:180px;
    Height:110px;
    padding-top: 200px;
    margin-left: 474px;
}
.categories-area-enterprise {
    Width:180px;
    Height:110px;
    margin-top: -110px;
    margin-left: 650px;
    padding-top: -20px;

}
.categories-area-support{
    Width:180px;
    Height:110px;
    margin-left: 850px;
    margin-top: -110px;
    padding-top: -20px;
    padding-bottom: 100px;
}
footer{
    background-color: rgba(170, 206, 155, 1);
    width: 1440px;
    height: 176px;
}

.footer-linked {
    margin-top: -82px;
    margin-left: 480px;
    padding-top: 40px;
    
}
.footer-facebook {
    padding-left: 600px;
    margin-top: -40px;
}
.footer-twitter {
    margin-left: 720px;
    margin-top: -45px;
}
.footer-instagram {
    margin-left: 840px;
    margin-top: -40px;
}
.footer-github {
    margin-left: 960px;
    margin-top: -43px;
    
}
.footer-copyright{
    font:bold 12px Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
}

#sidebar{
    width: 160px;
    height:1400px;
    float:right;
    position:fixed;
    background-color: #FFFFFF;
}