*{
    margin:0px;

}
body, html{
    font:normal 16px Arial, Helvetica, sans-serif;
}
header{
    background-image: url(../assets/Trackgenix.png);
    background-position:center left;
    background-repeat: no-repeat;
    width: 1440px;
    height:900px;
}
.header-body {
    color: rgb(255,255,255);
    margin-left:150px ;
    height: 900px;
    background-color: rgba(00, 00, 00, 0.5);
    backdrop-filter: blur(2px);
    width: 500px;}
#text-container{
    padding-left: 15px;
    padding-top: 150px;
    padding-right: 100px;
}

#text-container h1{
    font:bold 40px Arial, Helvetica, sans-serif;
    margin-right: 2px;
    margin-left: 50px;
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 3px rgb(170,206,155) solid; 
    width: 110%;
}  
#text-container h2{
    font:normal 20px Arial, Helvetica, sans-serif; 
    margin-right: 2px;
    margin-left: 50px;
    line-height: 30px;   
    margin-top: 20px;
}
#text-container p{ 
    color: rgba(255,255,255,0.75);
    font:normal 16px Arial, Helvetica, sans-serif;
    margin-right: 2px;
    margin-left: 50px;
    line-height: 30px;
    margin-top: 100px;
    }
.main-text-container h2{
    width: 1200px;
    text-align: center;
    font:bold 40px Arial, Helvetica, sans-serif;
    border-bottom: 10px rgba(217, 217, 217, 1) solid; 
    color:rgba(0, 0, 0, 1);
    margin-left: 50px;
    margin-bottom: ;
}
.main-text-container p{
    text-align: center;
    font:normal 16px Arial, Helvetica, sans-serif;
    width: 1200px;
    margin-left: 50px;
    margin-right:150px;
    padding-top: 35px;
    padding-bottom: 5px;
}
.green-paragraph {
    color: rgba(73, 163, 123, 1);
    margin-bottom: 100px;
}
.left-paragraph {
    color: rgba(0, 0, 0, 1);
    width: 500px;
}
.left-paragraph h3{
    font:bold 40px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 1000px;
    margin-top: 200px ;
    margin-left: 50px;
    border-bottom: 4px rgba(40, 98, 118, 1) solid;
}
.left-paragraph p{
    font:normal 30px Arial, Helvetica, sans-serif;
    text-align: left;
    width: 550px;
    margin-left: 50px;
}
.left-paragraph img{
    margin-left: 750px;
    margin-top: -400px ;
}
.right-paragraph {
    background-color: rgba(217, 217, 217, 1);
    width: 1440px;
    height:900px;
    margin-top: 150px ;

}
.right-paragraph h3{
    font:bold 40px Arial, Helvetica, sans-serif;
    text-align: center;
    width: 800px;
    margin-left: 560px;
    margin-right: 600px;
    padding-top: 300px ;
    border-bottom: 4px rgba(255, 255, 255, 1) solid;
}
.right-paragraph p{
    font:bold 30px Arial, Helvetica, sans-serif;
    text-align: left;
    width:550px;
    margin-left: 800px;
}
.right-paragraph img{
    margin-top: -350px;
    margin-left: 30px;
}
#sidebar{
    width: 160px;
    height:1400px;
    float:right;
    position:fixed;
    background-color: #FFFFFF;    
}